.container {
  width: 100%;
  height: fit-content;
}

.navbarContainer {
  width: 100%;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7rem 1rem 7rem;
}

.mobNav {
  display: none;
}
.navItem {
  margin: 0 1rem;
  font-family: var(--nav-font);
  font-size: 1rem;
  font-weight: 400;
}

.button {
  background: var(--gradient-bg);
  background: var(--gradient);
  padding: 1rem 2rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

.navLinkBox {
  height: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.475);
}

.navLinkBox:hover {
  background: var(--gradient);
}

.navLinkTitle {
  font-family: var(--primary-font);
  font-size: 1.2rem;
}

.navLinkDesc {
  font-family: var(--secondary-font);
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.688);
}

@media (width<1010px) {
  .navbarContainer {
    display: none;
  }
  .mobNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    position: relative;
  }
  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.501);
    backdrop-filter: blur(5px);
    transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
    opacity: 1;
    visibility: visible;
  }
  .overlayHidden {
    position: fixed;
    opacity: 0;
    visibility: hidden;
  }

  .sideBar {
    position: fixed;
    height: 100vh;
    width: 20rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    right: -20rem; /* Sidebar moves out of view */
    top: 0;
    z-index: 11;
    transition: right 0.2s ease-in-out;
  }
  .sideBarOpen {
    position: fixed;
    right: 0; /* Sidebar slides into view */
  }
  .mobNavElement {
    font-size: 1.5rem;
    font-family: var(--primary-font);
    font-weight: 500;
  }
  .mobNavCountry {
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    margin-left: 0.5rem;
  }
}
