.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: ce;
  padding: var(--padding-y) var(--padding-x);
}

.sectionHeading {
  font-family: var(--primary-font);
  font-size: var(--heading-font-size);
  font-weight: 600;
}

.galleryContainer {
  padding: 20px;
  background-color: #f7f7f7; /* Optional */
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.galleryImg {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.galleryImg:hover {
  transform: scale(1.05);
  cursor: pointer;
}
