.container {
  margin: 2rem;
  background-color: #fffeed;
  min-height: 100vh;
  border-radius: 10px;
  padding: var(--padding-y) var(--padding-x);
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: var(--icon-width);
}
.titleHeading {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: var(--title-font-size);
}
.sectionHeading {
  font-family: var(--primary-font);
  font-size: var(--heading-font-size);
  font-weight: 600;
}

.textContent {
  font-family: var(--secondary-font);
  font-size: var(--text-font-size);
}

.carouselBox {
  width: 100%;
  margin-top: 5rem;
}
